@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("//use.fontawesome.com/releases/v5.15.3/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* HEADER START */
header {
  /* background-color: #06111c; */
  overflow: auto;
  color: #beac74;
  margin-bottom: 0;
  background: url(./img/specks.webp);
}

.logo {
  float: left;
  padding: 2rem 12rem;
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
nav {
  text-decoration: none;
  float: right;
  padding: 2.75rem 10rem 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
nav a {
  text-decoration: none;
  padding: 0 2rem;
  color: #beac74;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #fff;
}

/* HEADER END */

/* HERO START */

.hero-section {
  height: 91vh;
}

.hero-container {
  height: 70vh;
}
.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./img/bottle-bg.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  height: 100%;
  z-index: -10;
  position: relative;
}
.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  /* color: #06111c; */
  /* opacity: 0.9; */
}
.inner {
  border: 2px solid #beac74;

  padding: 1rem 2rem;
}
.border {
  background: url(./img/specks.webp);
  opacity: 1;
  padding: 4rem 3rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  min-width: 445px;
}

.border span {
  color: #beac74;
  margin: 0 auto;
  opacity: 1;
  font-weight: 300;
}
.border h1 {
  color: #fff;
  margin-bottom: 0;
  line-height: 1.1;
  font-size: 80px;
}
.est {
  padding-bottom: 1rem;
  color: #beac74 !important;
  letter-spacing: 0.3rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.address {
  display: block;
  line-height: 1.8;
}
/* HERO END */

/* ABOUT US START */

.about-wrap {
  background: url(./img/specks.webp);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.about-inner {
  width: 80%;
  margin: 0 auto;
}
.top-info {
  text-align: center;
  padding: 6rem 0;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
}
.title {
  color: #beac74;
  letter-spacing: 0.2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.institution {
  color: #fff;
  font-size: 32px;
  letter-spacing: 0.25em;
  margin-bottom: 2rem;
}
.top-info p {
  color: #beac74;
  line-height: 1.8;
  font-weight: 200;
}

/* HAPPY HOUR START  */

.happyhr-container {
  display: flex;
  margin: 3rem auto;
  max-width: 1250px;
  padding-bottom: 5rem;
}
.beer-photo {
  padding-right: 4rem;
}
.happyhr-info {
  padding-left: 4rem;
}
.beer-tuesday {
  color: #fff;
  font-size: 32px;
  letter-spacing: 0.25em;
  margin-bottom: 2rem;
}
.happyhr-info p {
  color: #beac74;
  line-height: 1.8;
  font-weight: 200;
}
#beer-img {
  opacity: 0.8;
}
/* HAPPY HOUR END */

/* LIVE SHOWS START */

.shows-container {
  display: flex;
  margin: 3rem auto;
  max-width: 1250px;
  padding-bottom: 5rem;
}
.shows-photo {
  padding-left: 4rem;
}
.shows-info {
  padding-right: 4rem;
}
.next-show {
  color: #fff;
  font-size: 32px;
  letter-spacing: 0.25em;
  margin-bottom: 2rem;
}
.shows-info p {
  color: #beac74;
  line-height: 1.8;
  font-weight: 200;
}
#show-img {
  opacity: 0.8;
}

/* LIVE SHOWS END */

/* ABOUT US END */

/* PARALAX IMG SECTION START */

#paralax-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./img/hops.jpg);
  min-height: 40rem;
  max-height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 0.8; */
  background-attachment: fixed;
  position: relative;
}

/* PARALAX IMG SECTION END */

/* CONTACT US SECTION START */

.contact-book {
  height: 50vh;
  display: flex;
  width: 100%;
  justify-content: center;
  line-height: 2;
  background: url(./img/specks.webp);
  align-items: center;
}
.cb-inner-wrap {
  display: flex;
  align-items: flex-start;
  height: 550px;
}
.contact {
  max-width: 625px;
  padding: 6rem 4rem;
  margin-top: auto;
  margin-bottom: auto;
}
.contact h3 {
  color: #fff;
  font-size: 32px;
  letter-spacing: 0.25em;
  margin-bottom: 2rem;
}
.contact p {
  width: 380px;
  color: #beac74;
  /* line-height: 1.8; */
  font-weight: 200;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.contact-info {
  color: #beac74;
  line-height: 1.8;
  font-weight: 200;
  letter-spacing: 0.05em;
}
.book {
  max-width: 625px;
  display: flex;
  flex-direction: column;
  padding: 6rem 4rem;
  margin-top: 2.75rem;
}
.book h3 {
  padding-bottom: 1rem;
}
.dropdowns {
  display: flex;
  flex-direction: column;
  min-width: 275px;
}
.dropdowns select {
  padding: 0.75rem 9rem 0.75rem 1rem;
  margin-bottom: 1.5rem;
  background: #06101b;
  border-style: solid;
  text-align-last: left;
  color: #fff;
}
.book-now {
  background: rgb(162, 146, 99);
  border: none;
  border-radius: 0%;
  padding: 15px 40px;
  font-weight: 300;
  cursor: pointer;
}
.book-now:hover {
  background-color: #fff;
  color: #beac74;
  transition: all 0.3s ease-in-out;
}
select option {
  direction: ltr;
  padding: 1rem;
  font-size: 1rem;
}
select > option {
  padding: 1rem;
}
/* CONTACT US SECTION END */

.google-map {
  width: 100vw !important;
  height: 50vh !important;
  margin-bottom: 0;
  overflow: hidden;
}
.map {
  max-height: 50vh;
}
/* FOOTER SECTION START */

footer {
  background: url(./img/specks.webp);
  height: 40vh;
  margin-bottom: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.footer-inner {
  height: 100%;
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.footer-upper {
  padding: 0 6rem;
}
.email {
  /* display: flex;
  flex-direction: column; */
}
.email input {
  padding: 0.5rem 4rem;
  border: 1px solid #fff;
  background: #06101b;
  color: #beac74;
  text-align-last: left;
  padding: 0.75rem 9rem 0.75rem 1rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}
.email button {
  padding: 0.8rem 30px;
  color: #000;
  background: #beac74;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.email button:hover {
  background-color: #fff;
  color: #beac74;
  transition: all 0.3s ease-in-out;
}

.footer-contact {
  padding: 3rem 6rem;
}
.fab {
  color: #beac74;
  font-size: 2rem;
}
.fas {
  color: #beac74;
  font-size: 2rem;
}
.icons i {
  padding: 1rem;
}
.footer-add {
  color: #fff;
  line-height: 1.8;
  padding: 1rem;
  font-weight: 300;
}
.footer a {
  padding: 0px !important;
  cursor: pointer;
}
.icons i:hover {
  color: #fff;
  transition: all 0.4s ease-in-out;
}
/* FOOTER SECTION END */
